.posts {
  margin-top: 20px;
  height: 80vh;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  font-size: 12px;
}
